
body {
    min-height: 100vh;
    padding: 4rem 0;
    font-family: sans-serif;
    background: linear-gradient(0.25turn, #1e90ff, #99cdff);
    color: #222;
}

h1,h2 {
    margin-bottom: 2rem;
    font-weight: 400;
    text-align: center;
}

h2 {
    margin-top: 2rem;
}

.box {
    text-align: center;
    padding: 10px;
    background: linear-gradient(0.25turn, #ac3d31, #b36961);
    border: 1px solid rgba(0,0,0, .4);
}

.container.padding {
    padding-top: 3rem;
}